<!DOCTYPE html>
<html>
<head>
  <!-- the start of header -->
  <% include ../partials/header.ejs %>
  <!-- the end of header -->
    <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
<style>
  .datepicker{z-index:1151 !important;}
</style>
<script>

function s4() {
    return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
}
function guid() {
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
}

function gen_api_key() {
    return s4() + s4() + s4() + s4() + s4();
}

function gen_api_secret() {
    return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
}

function gen_session_key() {
    return guid();
}

</script>

</head>
<!--
BODY TAG OPTIONS:
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <% include ../partials/head.ejs %>
  
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar-devices.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Devices Management
        <small>manage devices for WLINK Cloud.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Devices</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header" align="right">
              <h3 class="box-title" ></h3><button type="button" id="newDevice" class="btn btn-info" data-toggle="modal" data-target="#deviceDlg"> New Device</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="devicesList" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Sevice Code</th>
                  <th>Device UUID</th>
                  <th>Type</th>
                  <th>Key</th>
                  <th>Expired Date</th>
                  <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer.ejs %>

  <!-- Control Sidebar -->
  <% include ../partials/sidebar-control.ejs %>
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- ************************************************************************************ -->
<div class="modal fade" id="deviceDlg" tabindex="-1" role="dialog" aria-labelledby="newDeviceeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newDeviceeLabel">Device Info.</h4>
      </div>
      <div class="modal-body">
        <form id="formDevice" class="form-horizontal">
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Service Code</label>
            <div class="col-xs-6 col-sm-6">
                <select id="service_code" name="service_code"  class="form-control selcls">
                </select>
            </div>
            <div class="col-xs-3 col-sm-3">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Device UUID</label>
            <div class="col-xs-6 col-sm-6">
              <input type="text" class="form-control" name="device_uuid" id="device_uuid">
              <input type="hidden" name="device_obj_id" id="device_obj_id" value="">
            </div>
            <div class="col-xs-3 col-sm-3">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Device Name</label>
            <div class="col-xs-6 col-sm-6">
              <input type="text" class="form-control" name="device_name" id="device_name">
            </div>
            <div class="col-xs-3 col-sm-3">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Type</label>
            <div class="col-xs-6 col-sm-6">
                <select id="service_type" name="device_type"  class="form-control selcls"  >
                    <option value="router">ROTUER</option>
                    <option value="iot">IOT</option>
                </select>
            </div>
            <div class="col-xs-3 col-sm-3">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">API Key</label>
            <div class="col-xs-6 col-sm-6">
              <input type="text" class="form-control" name="device_key" id="device_key">
            </div>
            <div class="col-xs-3 col-sm-3">
                <button type="button" id="genClientKey" class="btn btn-info"> Gen. Key</button>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Secret</label>
            <div class="col-xs-6 col-sm-6">
              <input type="text" class="form-control" name="device_secret" id="device_secret">
            </div>
            <div class="col-xs-3 col-sm-3">
                <button type="button" id="genSecret" class="btn btn-info"> Gen. Secret</button>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Exprie Date</label>
            <div class="col-xs-6 col-sm-6">
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right"  name="expired_date" id="expired_date">
                </div>
            </div>
            <div class="col-xs-3 col-sm-3">
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id = "saveDevice" type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- ************************************************************************************ -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>

<!-- BootstrapDialog -->
<link rel="stylesheet" href="/plugins/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
<script src="/plugins/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>

<script src="/plugins/moment/moment.js"></script>

<!-- bootstrap datepicker -->
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>

<!-- page script -->
<script>
  function update_service_code()
  {
    $.ajax({
        "type": "GET",
        "url": "/api/serviceCode",
        contentType: "application/json",
    }).done(function(res) {
        if(res.recordsTotal<=0 ){
            alert("Cannot get Service Codes. Please check it!");
        } else {
            $('#deviveDlg').find('select[name="service_code"] option').remove();

            for(row in res.data) 
            {
                $("#service_code").append("<option value='"+res.data[row].service_code+"'>"+res.data[row].service_name+" ("+res.data[row].service_code+")</option>");
            }
            //alert(JSON.stringify(res.data));
            
        }
    }).fail(function (jqXHR, textStatus) {
        alert("Cannot get Service Codes. Please check it!");
    });        
  }

  $(function () {

 	$("#genClientKey").click(function(){
        $('#deviceDlg').find('input[name="device_key"]').val(gen_api_key());
	});
    
 	$("#genSecret").click(function(){
        $('#deviceDlg').find('input[name="device_secret"]').val(gen_api_secret());
	});

    //  save service code
 	$("#saveDevice").click(function(){
        var obj_id = $('#deviceDlg').find('input[name="device_obj_id"]').val();
        var device_uuid = $('#deviceDlg').find('input[name="device_uuid"]').val();
        var service_code = $('#deviceDlg').find('select[name="service_code"]').val();
        var device_name = $('#deviceDlg').find('input[name="device_name"]').val();
        var device_type = $('#deviceDlg').find('select[name="device_type"]').val();
        var device_key = $('#deviceDlg').find('input[name="device_key"]').val();
        var device_secret = $('#deviceDlg').find('input[name="device_secret"]').val();
        var expired_date = $('#deviceDlg').find('input[name="expired_date"]').val();

        var data = {device_uuid:device_uuid, service_code:service_code, device_name:device_name, device_type:device_type, device_key:device_key, device_secret:device_secret, expired_date:expired_date};

        if(obj_id=="")
        {
            // insert
            $.ajax({
                method: "POST",
                url: "/api/device",
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done(function(res) {
                $('#deviceDlg').modal('hide'); 
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert("Check the system then retry it again!")
                location.reload();
            });        
        }
        else
        {
            // update
            $.ajax({
                method: "PUT",
                url: "/api/device/"+obj_id,
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done(function(res) {
                //alert("res:"+JSON.stringify(res));
                $('#deviceDlg').modal('hide'); 
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert("Check the system then retry it again!")
                location.reload();
            });        
        }
	});
	    

    var table = $('#devicesList').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "serverSide": true,
        "ajax": {
            "url": "/api/device",
            "type": "GET",
            "dataSrc": function(json) {
                console.log(JSON.stringify(json));
                if(json.recordsTotal<0 ){
                    return location.reload();
                } else {
                    return json.data;
                }
            }
        },
        "columns": [
            { data: "service_code"  },
            { data: "device_uuid"  },
            { data: "device_type"  },
            { data: "device_key", 
              render: function(data, type, row) {
                  if(data=="" || data==null)
                    return  "-";
                  else
                  {
                      if(data.length>10)
                        return data.substring(0, 10) + "...";
                      else
                        return data.toString();
                  }
              }                   
            },
            { data: "expired_date", 
              render: function(data, type, row) {
                    return moment(data, 'YYYYMMDDHHmmssZ').local().format('YYYY/MM/DD');
              }              
            },
            {
                target: 4,
                render: function(data, type, row) {
                    var linkEdit = '<button type="button" class="btn btn-link btn-sm btn-edit" data-value="'+row.id+'"><i class="fa fa-fw fa-edit"></i></button>';
                    var linkDelete = '<button type="button" class="btn btn-link btn-sm btn-delete" data-value="'+row.id+'"><i class="fa fa-fw fa-eraser btn-delete"></i></button>';
                    return linkEdit + "|" + linkDelete;
                }
            }
            
        ]              
    });



    /* delete buttonn */
    table.on('click', '.btn-delete', function() {
        var current_row = $(this).closest('tr');
        BootstrapDialog.confirm({
            title: "Notice",
            message: "Do you really want to delete it?",
            type: BootstrapDialog.TYPE_WARNING,
            size: BootstrapDialog.SIZE_SMALL,
            closable: false,
            btnCancelLabel: "Canel",
            btnOKLabel: "Delete",
            btnOKClass: "btn-warning",
            callback: function(result) {
                //console.log(table.row(current_row).data());
                if(result) {
                    $.ajax({
                        method: "DELETE",
                        url: "/api/device/"+table.row(current_row).data()._id,
                    }).done(function(rescode) {
                        return location.reload();
                    }).fail(function (jqXHR, textStatus) {
                        alert("Cannnot delete it. check the system please. code["+textStatus+"]");
                        location.reload();
                    });        

                } else {

                }
            }
        });
        
    });

    /* edit buttonn */
    table.on('click', '.btn-edit', function() {
        var current_row = $(this).closest('tr');
        $.ajax({
            method: "GET",
            url: "/api/device/"+table.row(current_row).data()._id,
        }).done(function(res) {
            //alert(JSON.stringify(res));
            $('#deviceDlg').find('input[name="device_obj_id"]').val(res._id);
            $('#deviceDlg').find('input[name="device_name"]').val(res.device_name);
            $('#deviceDlg').find('input[name="service_code"]').val(res.service_code);
            $('#deviceDlg').find('input[name="device_uuid"]').val(res.device_uuid);
            if(res.device_key)
                $('#deviceDlg').find('input[name="device_key"]').val(res.device_key);
            else
                $('#deviceDlg').find('input[name="device_key"]').val("");
            if(res.device_secret)
                $('#deviceDlg').find('input[name="device_secret"]').val(res.device_secret);
            else
                $('#deviceDlg').find('input[name="device_secret"]').val("");
            $('#deviceDlg').find('select[name="device_type"]').val(res.device_type);
            $('#deviceDlg').find('input[name="expired_date"]').val(moment(res.expired_date, 'YYYYMMDDHHmmssZ').local().format('MM/DD/YYYY'));

            $('#deviceDlg').modal('show'); 
        }).fail(function (jqXHR, textStatus) {
            alert("Cannnot read it. check the system please. code["+textStatus+"]");
            location.reload();
        });        
    });

    //Date picker
    $('#expired_date').datepicker({
      autoclose: true
    });    

    update_service_code();
  });
</script>
     
</body>
</html>
