<!DOCTYPE html>
<html>
<head>
  <!-- the start of header -->
  <% include ../partials/header.ejs %>
  <!-- the end of header -->
    <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
<style>
  .datepicker{z-index:1151 !important;}
</style>

</head>
<!--
BODY TAG OPTIONS:
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <% include ../partials/head.ejs %>
  
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar-serviceCode.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Service Code Management
        <small>manage service codes for WLINK Cloud.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Service code</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header" align="right">
              <h3 class="box-title" ></h3><button type="button" id="newServiceCode" class="btn btn-info" data-toggle="modal" data-target="#serviceCodeDlg"> New Service Code</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="serviceCodeList" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Type</th>
                  <th>Session Time</th>
                  <th>Expired Date</th>
                  <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer.ejs %>

  <!-- Control Sidebar -->
  <% include ../partials/sidebar-control.ejs %>
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- ************************************************************************************ -->
<div class="modal fade" id="serviceCodeDlg" tabindex="-1" role="dialog" aria-labelledby="newServiceCodeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newServiceCodeLabel">Service Code</h4>
      </div>
      <div class="modal-body">
        <form id="formServiceCode" class="form-horizontal">
                
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Name</label>
            <div class="col-xs-9 col-sm-9">
              <input type="text" class="form-control" name="service_name" id="service_name">
              <input type="hidden" name="serviceCode_obj_id" id="serviceCode_obj_id" value="">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Code</label>
            <div class="col-xs-9 col-sm-9">
              <input type="text" class="form-control" name="service_code" id="service_code">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Type</label>
            <div class="col-xs-9 col-sm-9">
                <select id="service_type" name="service_type"  class="form-control selcls"  >
                    <option value="router">ROTUER</option>
                    <option value="iot">IOT</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Tag</label>
            <div class="col-xs-9 col-sm-9">
              <input type="text" class="form-control" name="service_tag" id="service_tag">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">HashKey</label>
            <div class="col-xs-7 col-sm-7">
              <input type="text" class="form-control" name="service_hashkey" id="service_tag">
            </div>
            <div class="col-xs-2 col-sm-2">
                <input id="genhashkey" class="btn btn-default btn-sm" type="button" value="Generate" >
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Session Time</label>
            <div class="col-xs-9 col-sm-9">
                <select id="session_expired_time" name="session_expired_time"  class="form-control selcls" value="60" >
                    <option value="10">10 mins</option>
                    <option value="30">30 mins</option>
                    <option value="60">60 mins</option>
                    <option value="120">2 hours</option>
                    <option value="180">4 hours</option>
                    <option value="360">6 hours</option>
                    <option value="720">12 hours</option>
                    <option value="1440">24 hours</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-3 col-sm-3 control-label">Exprie Date</label>
            <div class="col-xs-9 col-sm-9">
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right"  name="expired_date" id="expired_date">
                </div>
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id = "saveServiceCode" type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- ************************************************************************************ -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>

<!-- BootstrapDialog -->
<link rel="stylesheet" href="/plugins/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
<script src="/plugins/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>

<script src="/plugins/moment/moment.js"></script>

<!-- bootstrap datepicker -->
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>

<!-- page script -->
<script>
  $(function () {
	// new service code
    $("#newServiceCode").click(function() {
        $('#serviceCodeDlg').find('input[name="serviceCode_obj_id"]').val("");
    });

    $("#genhashkey").click(function() {
        function s4() {
          return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
        }
        var hashkey = s4()+s4()+s4()+s4()+s4()+s4()+s4()+s4();      
        $('#serviceCodeDlg').find('input[name="service_hashkey"]').val(hashkey);
    });

    //  save service code
 	$("#saveServiceCode").click(function(){
        var obj_id = $('#serviceCodeDlg').find('input[name="serviceCode_obj_id"]').val();
        var service_name = $('#serviceCodeDlg').find('input[name="service_name"]').val();
        var service_code = $('#serviceCodeDlg').find('input[name="service_code"]').val();
        var service_tag = $('#serviceCodeDlg').find('input[name="service_tag"]').val();
        var service_type = $('#serviceCodeDlg').find('select[name="service_type"]').val();
        var service_hashkey = $('#serviceCodeDlg').find('input[name="service_hashkey"]').val();
        var session_expired_time = parseInt($('#serviceCodeDlg').find('select[name="session_expired_time"]').val());
        var expired_date = $('#serviceCodeDlg').find('input[name="expired_date"]').val();

        var data = {service_name:service_name, service_code:service_code, service_tag:service_tag, service_type:service_type, service_hashkey:service_hashkey, session_expired_time:session_expired_time, expired_date:expired_date};

        if(obj_id=="")
        {
            // insert
            $.ajax({
                method: "POST",
                url: "/api/serviceCode",
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done(function(res) {
                //alert("res:"+JSON.stringify(res));
                $('#serviceCodeDlg').modal('hide'); 
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert("Check the system then retry it again!")
                location.reload();
            });        
        }
        else
        {
            // update
            $.ajax({
                method: "PUT",
                url: "/api/serviceCode/"+obj_id,
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done(function(res) {
                //alert("res:"+JSON.stringify(res));
                $('#serviceCodeDlg').modal('hide'); 
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                alert("Check the system then retry it again!")
                location.reload();
            });        
        }
	});
	    

    var table = $('#serviceCodeList').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "serverSide": true,
        "ajax": {
            "url": "/api/serviceCode",
            "type": "GET",
            "dataSrc": function(json) {
                console.log(JSON.stringify(json));
                if(json.recordsTotal<0 ){
                    return location.reload();
                } else {
                    return json.data;
                }
            }
        },
        "columns": [
            { data: "service_name"  },
            { data: "service_code"  },
            { data: "service_type"  },
            { data: "session_expired_time",  
              render: function(data, type, row) {
                    return data + " mins";
              }
            },
            { data: "expired_date", 
              render: function(data, type, row) {
                    return moment(data, 'YYYYMMDDHHmmssZ').local().format('YYYY/MM/DD');
              }              
            },
            {
                target: 4,
                render: function(data, type, row) {
                    var linkEdit = '<button type="button" class="btn btn-link btn-sm btn-edit" data-value="'+row.id+'"><i class="fa fa-fw fa-edit"></i></button>';
                    var linkDelete = '<button type="button" class="btn btn-link btn-sm btn-delete" data-value="'+row.id+'"><i class="fa fa-fw fa-eraser btn-delete"></i></button>';

                    return linkEdit + "|" + linkDelete;
                }
            }
            
        ]              
    });



    /* delete buttonn */
    table.on('click', '.btn-delete', function() {
        var current_row = $(this).closest('tr');
        BootstrapDialog.confirm({
            title: "Notice",
            message: "Do you really want to delete it?",
            type: BootstrapDialog.TYPE_WARNING,
            size: BootstrapDialog.SIZE_SMALL,
            closable: false,
            btnCancelLabel: "Canel",
            btnOKLabel: "Delete",
            btnOKClass: "btn-warning",
            callback: function(result) {
                //console.log(table.row(current_row).data());
                if(result) {
                    $.ajax({
                        method: "DELETE",
                        url: "/api/serviceCode/"+table.row(current_row).data()._id,
                    }).done(function(rescode) {
                        return location.reload();
                    }).fail(function (jqXHR, textStatus) {
                        alert("Cannnot delete it. check the system please. code["+textStatus+"]");
                        location.reload();
                    });        

                } else {

                }
            }
        });
        
    });

    /* edit buttonn */
    table.on('click', '.btn-edit', function() {
        var current_row = $(this).closest('tr');
        $.ajax({
            method: "GET",
            url: "/api/serviceCode/"+table.row(current_row).data()._id,
        }).done(function(res) {
            //alert(JSON.stringify(res));
            $('#serviceCodeDlg').find('input[name="serviceCode_obj_id"]').val(res._id);
            $('#serviceCodeDlg').find('input[name="service_name"]').val(res.service_name);
            $('#serviceCodeDlg').find('input[name="service_code"]').val(res.service_code);
            $('#serviceCodeDlg').find('input[name="service_tag"]').val(res.service_tag);
            if(res.service_hashkey)
                $('#serviceCodeDlg').find('input[name="service_hashkey"]').val(res.service_hashkey);
            else
                $('#serviceCodeDlg').find('input[name="service_hashkey"]').val("");
            $('#serviceCodeDlg').find('select[name="service_type"]').val(res.service_type);
            $('#serviceCodeDlg').find('select[name="session_expired_time"]').val(res.session_expired_time);
            $('#serviceCodeDlg').find('input[name="expired_date"]').val(moment(res.expired_date, 'YYYYMMDDHHmmssZ').local().format('MM/DD/YYYY'));

            $('#serviceCodeDlg').modal('show'); 
        }).fail(function (jqXHR, textStatus) {
            alert("Cannnot read it. check the system please. code["+textStatus+"]");
            location.reload();
        });        
    });

    //Date picker
    $('#expired_date').datepicker({
      autoclose: true
    });    


  });
</script>
     
</body>
</html>
