  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="http://wavlink.com">WAVLINK/Winstars</a>.</strong> All rights reserved.
  </footer>
