  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/dist/img/blankuser_128x128.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%=username %>&nbsp;&nbsp;<a href="/admin/logout"> <input type="button" id="logout" class="btn btn-xs btn-warning" value="logout"></a></p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/admin/serviceCode"><i class="fa fa-link"></i> <span>Service Code</span></a></li>
        <li class="active"><a href="/admin/apiClients"><i class="fa fa-link"></i> <span>Api Clients</span></a></li>
        <li><a href="/admin/sessions"><i class="fa fa-link"></i> <span>Sessions</span></a></li>
        <li><a href="/admin/devices"><i class="fa fa-link"></i> <span>Devices</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
