<!DOCTYPE html>
<html>
<head>
  <!-- the start of header -->
  <% include ./partials/header.ejs %>
  <!-- the end of header -->
<script type="text/javascript" src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!--
<script type="text/javascript" src="http://localhost:8989/socket.io/socket.io.js"></script>
  -->
  <script type="text/javascript" src="http://testmq.wavlink.com:8989/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/plugins/md5/md5.min.js"></script>
<script type="text/javascript" src="/waviot/waviotmsg.js"></script>
<style type="text/css">
.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

<script>

var roomlist = [];
var serverUrl = 'http://testmq.wavlink.com:8989/wlink';
//var serverUrl = 'http://192.168.0.101:8988/wlink';
//var serverUrl = 'http://localhost:8989/wlink';
var socket; // = io.connect(serverUrl ,{ query: "clientkey=key1&sessionkey=key2" });
var socket_sessionid;// = "/wlink#"+socket.io.engine.id;
var clientkey = "";
var sessionkey = "";
var clientsecret = "c46f5579b666";
var MACADDR = "80:3f:5d:00:00:11";
var attrWanSettingVal = {
    "type":"1", // 1: dhcp, 2:pppoe, 3:static
    "username":"hello",
    "password":"12345678",
    "ipAddress":"9.9.10.11",
    "subnetMask":"255.0.0.0",
    "gateway":"9.9.10.1",
    "dnsPrimary":"8.8.8.8",
    "dnsSecondary":"9.9.9.9",
    "macAddress":MACADDR,
    "mtu": "1500"
};

 
var attrWlanSecurity24gVal = {
    "enabled":"1", 
    "type": "WPA",
    "encryption":"AES", 
    "passphrase":"12345678" 
};

var demo_id = "admin";
var demo_password = "12345678";
var demo_session_key = "";

function service_not_defined(msgobj)
{
    var resBody = {resCode:-1000,serviceName:msgobj.serviceName, result:{resString:"cannot find the service"}};
    if(msgobj.args.transNo!=null && msgobj.args.transNo)
        resBody.transNo = msgobj.args.transNo;
    return resBody;    
}

function service_invalid_message(msgobj)
{
    var resBody = {resCode:-1001,serviceName:"none", result:{resString:"invalid message format"}};

    if(msgobj.serviceName!=null && msgobj.serviceName)
        resBody.serviceName = msgobj.serviceName;

    if(msgobj.args.transNo!=null && msgobj.args.transNo)
        resBody.transNo = msgobj.args.transNo;
    return resBody;    
}


function authDevice(args)
{
    var resBody = {resCode:0,serviceName:"authDevice", result:""};
    if(args.id!=demo_id || args.password!=demo_password)
    {
        resBody.resCode = -1;  
    }
    else
    {
        resBody.result = {session_key:demo_session_key};
    }

    if(args.transNo)
        resBody.transNo = args.transNo;

    return resBody;
}

function msg_call_service_handler(msgobj)
{
    var uuid = $("#uuid").val();

    var resbody;
    try {
        if(msgobj.serviceName==null || msgobj.request==null || msgobj.request.args==null)
        {

            resbody = service_invalid_message(msgobj);   
        }
        else
        switch(msgobj.serviceName.toLowerCase())
        {
            case "authdevice":
                resbody = authDevice(msgobj.request.args);
                break;
            default:
                resbody = service_not_defined(msgobj);
                break;
        }
        
    } catch (error) {
        var errbody = {errorCode:100};
        var errmsg = make_waviot_msg("error", uuid, clientkey, "", sessionkey, clientsecret, errbody);
        return errmsg;
    }

    var newmsg = make_waviot_msg("callService", uuid, clientkey, "", sessionkey, clientsecret, resbody);
    
    return newmsg;
}

function guid() {
    function s4() {
      return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
  }

function open_socket_io(service_code, clientkey, sessionkey)
{
  if(socket!=null)
    socket.disconnect();

  socket = io.connect(serverUrl ,{ query: "service_code="+service_code+"&clientkey="+clientkey+"&sessionkey="+sessionkey});
}


$(document).ready(function(){	

  function update_service_code()
  {
    $.ajax({
        "type": "GET",
        "url": "/api/serviceCode",
        contentType: "application/json",
    }).done(function(res) {
        if(res.recordsTotal<=0 ){
            alert("Cannot get Service Codes. Please check it!");
        } else {
            $('#mainForm').find('select[name="service_code"] option').remove();

            for(row in res.data) 
            {
                $("#service_code").append("<option value='"+res.data[row].service_code+"'>"+res.data[row].service_name+" ("+res.data[row].service_code+")</option>");
            }
            //alert(JSON.stringify(res.data));
            
        }
    }).fail(function (jqXHR, textStatus) {
        alert("Cannot get Service Codes. Please check it!");
    });  

    $("#attrWanSetting").val(JSON.stringify(attrWanSettingVal));
    $("#attrWlanSecurity24g").val(JSON.stringify(attrWlanSecurity24gVal));
          
  }
  
  function appendlog(logtext)
  {
    $("#sessionlog").val($("#sessionlog").val() + logtext +'\n');
    $("#sessionlog").scrollTop($('#sessionlog')[0].scrollHeight);
  }	

 	$("#genuuid").click(function(){
    document.getElementById('uuid').value = guid();
	});
	
 	$("#getclientkey").click(function(){
    uuid = $("#uuid").val();
    data = {service_code:$("#service_code").val(), service_tag: $("#service_tag").val()};

    $.ajax({
        method: "POST",
        url: "/api/getDeviceKey/"+uuid,
        contentType: "application/json",
        data: JSON.stringify(data)
    }).done(function(res) {
       clientkey = res.key;
       clientsecret = res.secret;
       document.getElementById('clientkey').value = clientkey;
    }).fail(function (jqXHR, textStatus) {
       alert("Fail:" + textStatus);
    });   

	});
	
 	$("#genrandomid").click(function(){
    document.getElementById('randomid').value = ((1 + Math.random()) * 0x10000000 | 0).toString(16).substring(1);
	});
	
 	$("#getsessionkey").click(function(){

    var uuid = $("#uuid").val();
    var msgtime = waviot_get_time();
    var service_code = $("#service_code").val();
    var service_tag = $("#service_tag").val();

    var hashstr = msgtime+service_code+service_tag+uuid+clientkey;
    var auth = md5(hashstr, clientsecret, false);
    data = {	"uuid":uuid,
      "time":msgtime,
      "service_code" : service_code,
      "service_tag" : service_tag,
      "auth": auth
    };

    $.ajax({
        method: "POST",
        url: "/api/session/"+clientkey,
        contentType: "application/json",
        data: JSON.stringify(data)
    }).done(function(res) {
       sessionkey = res.session_key;
       demo_session_key = sessionkey;
       document.getElementById('sessionkey').value = "Until:" + res.session_time + " / "+sessionkey;
    }).fail(function (jqXHR, textStatus) {
       alert("Fail:" + textStatus);
    });   
	});


 
	$("#openchannel").click(function(){
    //clientkey = $("#clientkey").val();
    //sessionkey =  $("#sessionkey").val();
    
    if(clientkey=="" || sessionkey=="")
    {
      alert("please make client key and session key first!!");
      return;
    }
    open_socket_io($("#service_code").val(), clientkey, sessionkey);
    //if(socket!=null)
    //  socket.disconnect();
    //socket = io.connect(serverUrl ,{ query: "clientkey="+clientkey+"&sessionkey="+sessionkey});

    //////////////////////////////////////////////////////////////////////////////////
    socket.on('connect',function(data){
      socket_sessionid = "/wlink#"+socket.io.engine.id;
      appendlog("new session id is " + socket_sessionid);

    });
    socket.on('disconnect',function(data){
      appendlog("disconnected session id:" + socket_sessionid);

    });

    socket.on('resHeartbeat',function(data){
      appendlog("resHeartbeat [" + data.msg + "]");

      msgobj = JSON.parse(data.msg);
      if(msgobj.response)
      {
        $("#heartbeat").val(msgobj.response.toString());
      }
      else 
        alert("Invalid resHeartbeat");
    });


    socket.on('getAttr',function(data){
      appendlog("getAttr [" + data.msg + "]");
      msgobj = JSON.parse(data.msg);
      
      if(msgobj.attrName=="wanSetting")
      {
        var wanSetting = {value:attrWanSettingVal, when:waviot_get_time()};
        var resBody = {resCode:0,attrName:msgobj.attrName, result:{wanSetting:wanSetting}};
        var resmsg = make_waviot_msg("getAttr", uuid, clientkey, "", sessionkey, clientsecret, resBody);

        // IMPORTANT: cleint information 
        if(msgobj.xclient)
          resmsg.xclient = msgobj.xclient;
        socket.emit('getAttr', JSON.stringify(resmsg));
        appendlog("response getAttr [" + JSON.stringify(resmsg) + "]");

      }
    });

    socket.on('setAttr',function(data){
      appendlog("setAttr [" + data.msg + "]");

      msgobj = JSON.parse(data.msg);
      
      if(msgobj.attrName=="wanSetting")
      {
        if(msgobj.request)
        {
          attrWanSettingVal = msgobj.request;
        }

        $("#attrWanSetting").val(JSON.stringify(attrWanSettingVal));
        var wanSetting = {value:attrWanSettingVal, when:waviot_get_time()};
        var resBody = {resCode:0,attrName:msgobj.attrName, result:{wanSetting:wanSetting}};
        var resmsg = make_waviot_msg("setAttr", uuid, clientkey, "", sessionkey, clientsecret, resBody);

        // IMPORTANT: cleint information 
        if(msgobj.xclient)
          resmsg.xclient = msgobj.xclient;
        socket.emit('setAttr', JSON.stringify(resmsg));
        appendlog("response setAttr [" + JSON.stringify(resmsg) + "]");

      }
      
    });

    socket.on('callService',function(data){
      appendlog("callService [" + data.msg + "]");
      msgobj = JSON.parse(data.msg);

      var resmsg = msg_call_service_handler(msgobj);

      // IMPORTANT: cleint information 
      if(msgobj.xclient)
        resmsg.xclient = msgobj.xclient;

      socket.emit(resmsg.header.msgID, JSON.stringify(resmsg));
    });

    socket.on('reportAttr',function(data){
      appendlog("reportAttr [" + data.msg + "]");
      //{"msg":"reportAttr","when":"20161121001318+0800","attributes":{"wanDlSpeed":0,"wanUpSpeed":0,"wanDlbytes":95603567,"wanUpbytes":80774449},"deviceID":"DUMMY_803f5d000012"}

      var attrObj = JSON.parse(data.msg);
      if(attrObj.attributes!=null)
      {
        for (var key in attrObj.attributes) {
          updateAttr(attrObj.deviceID, key, attrObj.attributes[key]);
        }
      }
    });
    
    socket.on('error',function(data){
      var errMsg = JSON.parse(data.msg);
      appendlog("msg [" + data.msg + "]");
    });

	});

	$("#deviceLogin").click(function(){
    var service_code = $("#service_code").val();
    var uuid = $("#uuid").val();
    if(socket==null)
    {
      alert("First start Session to call getattr!!");
      return false;
    }

    var challenge = parseInt($("#heartbeat").val());

    var reqHeartbeat_msg = {targetUID: "SYSTEM_DAEMON_"+service_code, systemTime: waviot_get_time(), challenge: challenge };
    iotmsg = make_waviot_msg("reqHeartbeat", uuid, clientkey, "", sessionkey, clientsecret, reqHeartbeat_msg);
    socket.emit('reqHeartbeat', JSON.stringify(iotmsg));
	});

  update_service_code();  

});

</script>

</head>
<!--
BODY TAG OPTIONS:
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <% include ./partials/head.ejs %>
  
  <!-- Left side column. contains the logo and sidebar -->
  <% include ./partials/sidebar-main.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Device Sesstion Test
        <small>Simple Sock IO test </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Session Info.</h3>
  </div>
  <div class="panel-body">

<form id="mainForm" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Service Code</label>
    <div class="col-xs-6 col-sm-7">
      <select id="service_code"  class="form-control selcls"  >
      </select>
    </div>
    <div class="col-xs-4 col-sm-3">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Service Tag</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="service_tag" placeholder="" value="ilovewinstarswavlinkwlink">
    </div>
    <div class="col-xs-4 col-sm-3">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">UUID</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="uuid" placeholder="" value="DUMMY_803f5d000011">
    </div>
    <div class="col-sm-3">
  <!--
      <input id="genuuid" class="btn btn-default btn-sm" type="button" value="Gen UUID" >
  -->
    </div>
  </div>
  <div class="form-group">
    <label  class="col-xs-2 col-sm-2 control-label">Client Key</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="clientkey" placeholder="Client Key" readonly>
    </div>
    <div class="col-xs-4 col-sm-3">
      <input id="getclientkey" class="btn btn-default btn-sm" type="button" value="Get Client Key" >
    </div>
  </div>
  <!--
  <div class="form-group">
    <label  class="col-sm-2 control-label">Random ID</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="randomid" placeholder="Random ID" readonly>
    </div>
    <div class="col-sm-3">
      <input id="genrandomid" class="btn btn-default btn-sm" type="button" value="Gen RandomID">
    </div>
  </div>
  -->
  <div class="form-group">
    <label  class="col-xs-2 col-sm-2 control-label">Session Key</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="sessionkey" placeholder="Session Key" readonly>
    </div>
    <div class="col-xs-4 col-sm-3">
      <input id="getsessionkey" class="btn btn-default btn-sm" type="button" value="Get Session Key">
    </div>
  </div>

  <div class="form-group">
    <label  class="col-xs-2 col-sm-2 control-label">Heartbeat</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="heartbeat" value="1" readonly>
    </div>
    <div class="col-xs-4 col-sm-3">
      <input id="deviceLogin" class="btn btn-default btn-sm" type="button" value="Send Heartbeat">
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input id="openchannel" class="btn btn-default" type="button" value="Start Sesion">
    </div>
  </div>
</form>




  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Attributes</h3>
  </div>
  <div class="panel-body">

    <table id="devicesList" class="table table-bordered">
    <tr>
        <th width="20%">attrName</th>
        <th width="80%" >Value</th>
    </tr>
    <tbody>
      <tr>
          <td>wanSetting</td>
          <td>
          <textarea rows="3"  class="form-control" id="attrWanSetting"  name="contents" readonly></textarea>  
          </td>
      </tr>
      <tr>
          <td>attrWlanSecurity24g</td>
          <td>
          <textarea rows="3"  class="form-control" id="attrWlanSecurity24g"  name="contents" readonly></textarea>  
          </td>
      </tr>
      
      </tbody>      

    </table>

  </div>
</div>


<div class="panel panel-info">
  <div class="panel-body">
    <textarea id="sessionlog" class="form-control" rows="10"></textarea>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="getAttrDialog" tabindex="-1" role="dialog" aria-labelledby="getAttrLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="getAttrLabel">Get Attribute</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label  class="col-xs-2 col-sm-2 control-label">Attr</label>
            <div class="col-xs-10 col-sm-10">
              <select id="attrList"  class="form-control selcls"  >
                <option data-tokens="wanSetting">wanSetting</option>
                <option data-tokens="wanState">wanState</option>
                <option data-tokens="wanDlSpeed">wanDlSpeed</option>
                <option data-tokens="wanUpSpeed">wanUpSpeed</option>
                <option data-tokens="wanDlbytes">wanDlbytes</option>
                <option data-tokens="wanUpbytes">wanUpbytes</option>
                <option data-tokens="wlanSetting24g">wlanSetting24g</option>
                <option data-tokens="wlanSecurity24g">wlanSecurity24g</option>
              </select>
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id = "callgetttr" type="button" class="btn btn-primary">Call</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deviceGetAttr" tabindex="-1" role="dialog" aria-labelledby="deviceGetAttrLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deviceGetAttrLabel">Device Get Attr</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id = "callGetAttr" type="button" class="btn btn-primary">Call</button>
      </div>
    </div>
  </div>
</div>
<!-- ************************************************************************************ -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ./partials/footer.ejs %>

  <!-- Control Sidebar -->
  <% include ./partials/sidebar-control.ejs %>
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
