<!DOCTYPE html>
<html>
<head>
  <!-- the start of header -->
  <% include ./partials/header.ejs %>
  <!-- the end of header -->
<script type="text/javascript" src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <!--
<script type="text/javascript" src="https://localhost:8989/socket.io/socket.io.js"></script>
  -->
<script type="text/javascript" src="https://wsocktest.wavlink.org:8989/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/plugins/md5/md5.min.js"></script>
<script type="text/javascript" src="/waviot/waviotmsg.js"></script>
<style type="text/css">
.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

<script>

var roomlist = [];
var serverUrl = 'https://wsocktest.wavlink.org:8989/wlink';
//var serverUrl = 'http://192.168.0.101:8988/wlink';
//var serverUrl = 'https://localhost:8989/wlink';
var socket; // = io.connect(serverUrl ,{ query: "clientkey=key1&sessionkey=key2" });
var socket_sessionid;// = "/wlink#"+socket.io.engine.id;
var clientkey = "";
var sessionkey = "";
var clientsecret = "c46f5579b666";
var attrWanSettingVal2 = {
    "type":"1", // 1: dhcp, 2:pppoe, 3:static
    "username":"admin",
    "password":"87654321",
    "ipAddress":"9.9.10.11",
    "subnetMask":"255.0.0.0",
    "gateway":"9.9.10.1",
    "dnsPrimary":"8.8.8.8",
    "dnsSecondary":"9.9.9.9",
    "macAddress":"80:35:5D:11:22:33",
    "mtu": "1499"
};

var attrMaxDlSpeedVal = {
    "val":"100"
};


function guid() {
    function s4() {
      return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
  }

function open_socket_io(service_code, clientkey, sessionkey)
{
  if(socket!=null)
    socket.disconnect();

  socket = io.connect(serverUrl ,{ query: "service_code="+service_code+"&clientkey="+clientkey+"&sessionkey="+sessionkey});
}


$(document).ready(function(){	

  function update_service_code()
  {
    $.ajax({
        "type": "GET",
        "url": "/api/serviceCode",
        contentType: "application/json",
    }).done(function(res) {
        if(res.recordsTotal<=0 ){
            alert("Cannot get Service Codes. Please check it!");
        } else {
            $('#mainForm').find('select[name="service_code"] option').remove();

            for(row in res.data) 
            {
                $("#service_code").append("<option value='"+res.data[row].service_code+"'>"+res.data[row].service_name+" ("+res.data[row].service_code+")</option>");
            }
            //alert(JSON.stringify(res.data));
            
        }
    }).fail(function (jqXHR, textStatus) {
        alert("Cannot get Service Codes. Please check it!");
    });        
  }
  
  function appendlog(logtext)
  {
    $("#sessionlog").val($("#sessionlog").val() + logtext +'\n');
    $("#sessionlog").scrollTop($('#sessionlog')[0].scrollHeight);
  }	

 	$("#genuuid").click(function(){
    document.getElementById('uuid').value = guid();
	});
	
 	$("#getclientkey").click(function(){
    uuid = $("#uuid").val();
    data = {service_code:$("#service_code").val(), service_tag: $("#service_tag").val()};

    $.ajax({
        method: "POST",
        url: "/api/getKey/"+uuid,
        contentType: "application/json",
        data: JSON.stringify(data)
    }).done(function(res) {
       clientkey = res.key;
       clientsecret = res.secret;
       document.getElementById('clientkey').value = clientkey;
    }).fail(function (jqXHR, textStatus) {
       alert("Fail:" + textStatus);
    });   

	});
	
 	$("#genrandomid").click(function(){
    document.getElementById('randomid').value = ((1 + Math.random()) * 0x10000000 | 0).toString(16).substring(1);
	});
	
 	$("#getsessionkey").click(function(){

    var uuid = $("#uuid").val();
    var msgtime = waviot_get_time();
    var service_code = $("#service_code").val();
    var service_tag = $("#service_tag").val();

    var hashstr = msgtime+service_code+service_tag+uuid+clientkey;
    var auth = md5(hashstr, clientsecret, false);
    data = {	"uuid":uuid,
      "time":msgtime,
      "service_code" : service_code,
      "service_tag" : service_tag,
      "auth": auth
    };

    $.ajax({
        method: "POST",
        url: "/api/session/"+clientkey,
        contentType: "application/json",
        data: JSON.stringify(data)
    }).done(function(res) {
       sessionkey = res.session_key;
       document.getElementById('sessionkey').value = "Until:" + res.session_time + " / "+sessionkey;
    }).fail(function (jqXHR, textStatus) {
       alert("Fail:" + textStatus);
    });   
	});

 	$("#deviceLogin").click(function(){
     //alert("deviceLogin:" + $("#devices").val());
     $("#loginDeviceId").val($("#devices").val());
	});
  
 
	$("#openchannel").click(function(){
    //clientkey = $("#clientkey").val();
    //sessionkey =  $("#sessionkey").val();
    
    if(clientkey=="" || sessionkey=="")
    {
      alert("please make client key and session key first!!");
      return;
    }
    open_socket_io($("#service_code").val(), clientkey, sessionkey);
    //if(socket!=null)
    //  socket.disconnect();
    //socket = io.connect(serverUrl ,{ query: "clientkey="+clientkey+"&sessionkey="+sessionkey});

    //////////////////////////////////////////////////////////////////////////////////
    socket.on('connect',function(data){
      socket_sessionid = "/wlink#"+socket.io.engine.id;
      appendlog("new session id is " + socket_sessionid);

    });
    socket.on('disconnect',function(data){
      appendlog("disconnected session id:" + socket_sessionid);

    });

    socket.on('getAttr',function(data){
      appendlog("getAttr [" + data.msg + "]");
    });

    socket.on('setAttr',function(data){
      appendlog("setAttr [" + data.msg + "]");
    });

    socket.on('getSubdevAttr',function(data){
      appendlog("getSubdevAttr [" + data.msg + "]");
    });

    socket.on('setSubdevAttr',function(data){
      appendlog("setSubdevAttr [" + data.msg + "]");
    });
    
    $(".call-start-bandwidth-nav").on('click', function(event){
      alert(this.value);
      
    });    

    var call_start_bandwidth = function(e){
      var authDevice = {serviceName:"bwCheck", transNo:"", request:{service:"bwCheck", "args":{enabled:"1", duration:"3" }}};
      iotmsg = make_waviot_msg("callService", e.currentTarget.value, clientkey, "", sessionkey, clientsecret, authDevice);
      socket.emit('callService', JSON.stringify(iotmsg));
    }

    var call_logout = function(e){
        alert("Logout: "+e.currentTarget.value);
    }

    // bytes, KB, MB, GB
    function change_uints(value, unit)
    {
      if(value<1024)
        return value.toString() + ' ' + unit[0];
      if(value<1024*1024)
        return (Math.round(value/1024*100)/100).toString() + ' ' + unit[1];
      if(value<1024*1024*1024)
        return (Math.round(value/(1024*1024)*100)/100).toString() + ' ' + unit[2];
      if(value<1024*1024*1024*1024)
        return (Math.round(value/(1024*1024*1024)*100)/100).toString() + ' ' + unit[3];
    }
    var speed_unit = ["bps", "kbps", "mbps", "gbps"];
    var traffic_unit = ["B", "KB", "MB", "GB"];
    function updateAttr(devid, attrName, value)
    {
      switch(attrName)
      {
        case "wanDlSpeed":
          $('#'+devid+'_DL').text(change_uints(value, speed_unit).toString());
          break;
        case "wanUlSpeed":
        case "wanUpSpeed":
          $('#'+devid+'_UP').text(change_uints(value, speed_unit).toString());
          break;
        case "wanDlbytes":
          $('#'+devid+'_TDL').text(change_uints(value, traffic_unit).toString());
          break;
        case "wanUlbytes":
        case "wanUpbytes":
          $('#'+devid+'_TUP').text(change_uints(value, traffic_unit).toString());
          break;
      }
    }
    socket.on('callService',function(data){
      appendlog("callService [" + data.msg + "]");
      msgobj = JSON.parse(data.msg);
      if(msgobj.serviceName=="authDevice")
      {
        if(msgobj.resCode==0)
        {
          device_id = msgobj.deviceID;
          if($('#'+device_id+'_ID').val()==null)
          {
            table_tr = "<tr><td id='"+device_id+"_ID'>"+device_id+"</td>";
            table_tr +="<td class='hidden-xs' id='"+device_id+"_IP'>-</td>";
            table_tr +="<td id='"+device_id+"_DL'>-</td>";
            table_tr +="<td id='"+device_id+"_UP'>-</td>";
            table_tr +="<td id='"+device_id+"_TDL'>-</td>";
            table_tr +="<td id='"+device_id+"_TUP'>-</td>";
            table_tr +="<td> <button id='"+device_id+"_BW' class='btn btn-xs btn-primary' value='"+device_id+"'>Bandwidth</button></td></tr>";
            //table_tr +="<td> <button id='"+device_id+"_BW' class='btn btn-xs btn-primary' value='"+device_id+"'>Bandwidth</button><button id='"+device_id+"_LOGOUT' class='btn btn-xs btn-info' value='"+device_id+"'>Logout</button></td></tr>";
            $('#devicesList > tbody:last').append(table_tr);

            $('#'+device_id+'_BW').on('click', call_start_bandwidth);
            $('#'+device_id+'_LOGOUT').on('click', call_logout);
          }
          $('#deviceLoginDlg').modal('hide'); 
        }
      }
    });

    socket.on('reportAttr',function(data){
      appendlog("reportAttr [" + data.msg + "]");
      //{"msg":"reportAttr","when":"20161121001318+0800","attributes":{"wanDlSpeed":0,"wanUpSpeed":0,"wanDlbytes":95603567,"wanUpbytes":80774449},"deviceID":"DUMMY_803f5d000012"}

      var attrObj = JSON.parse(data.msg);
      if(attrObj.attributes!=null)
      {
        for (var key in attrObj.attributes) {
          updateAttr(attrObj.deviceID, key, attrObj.attributes[key]);
        }
      }
    });

    socket.on('cloudSetValue',function(data){
      appendlog("cloudSetValue [" + data.msg + "]");
    });

    socket.on('cloudGetValue',function(data){
      appendlog("cloudGetValue [" + data.msg + "]");
    });
    
    socket.on('reportSubdevAttr',function(data){
      appendlog("reportSubdevAttr [" + data.msg + "]");
    });
    
    socket.on('error',function(data){
      var errMsg = JSON.parse(data.msg);
      appendlog("error msg [" + data.msg + "]");
    });

	});


  $("#callLoginService").click(function(){
    var authDevice = {serviceName:"authDevice", transNo:"", request:{service:"authDevice", "args":{id:$("#loginID").val(), password:$("#loginPassword").val()}}}
    iotmsg = make_waviot_msg("callService", $("#devices").val(), clientkey, "", sessionkey, clientsecret, authDevice);
    socket.emit('callService', JSON.stringify(iotmsg));
  });
  
	$("#getattr").click(function(){
    if(socket==null)
    {
      alert("First start Session to call getattr!!");
      return false;
    }
	});

	$("#deviceLogin").click(function(){
    if(socket==null)
    {
      alert("First start Session to call getattr!!");
      return false;
    }
	});

	$("#callgetttr").click(function(){
    var attrNameBody = {attrName:$("#attrList").val()};
    iotmsg = make_waviot_msg("getAttr", $("#devices").val(), clientkey, "", sessionkey, clientsecret, attrNameBody);
    socket.emit('getAttr', JSON.stringify(iotmsg));
    
	});


	$("#setattr").click(function(){
    if(socket==null)
    {
      alert("First start Session to call setattr!!");
      return false;
    }
    var attrNameBody = {attrName:"wanSetting", transNo:"", request:{value:attrWanSettingVal2, when:waviot_get_time()}};

    alert("setattr ["+JSON.stringify(attrNameBody)+"]")
    iotmsg = make_waviot_msg("setAttr", $("#devices").val(), clientkey, "", sessionkey, clientsecret, attrNameBody);
    socket.emit('setAttr', JSON.stringify(iotmsg));
    
	});


	$("#getsubdevattr").click(function(){
    if(socket==null)
    {
      alert("First start Session to call getsubdevattr!!");
      return false;
    }
    var attrNameBody = {subDeviceID:"001122334455", attrName:"dlSpeed"};

    alert("getsubdevattr ["+JSON.stringify(attrNameBody)+"]")
    iotmsg = make_waviot_msg("getsubdevattr", $("#devices").val(), clientkey, "", sessionkey, clientsecret, attrNameBody);
    socket.emit('getSubdevAttr', JSON.stringify(iotmsg));
    
	});



	$("#setsubdevattr").click(function(){
    if(socket==null)
    {
      alert("First start Session to call getsubdevattr!!");
      return false;
    }
    var attrNameBody = {subDeviceID:"001122334455", attrName:"maxDlSpeed", request:{value:"100", when:waviot_get_time()}};

    alert("setsubdevattr ["+JSON.stringify(attrNameBody)+"]")
    iotmsg = make_waviot_msg("setSubdevAttr", $("#devices").val(), clientkey, "", sessionkey, clientsecret, attrNameBody);
    socket.emit('setSubdevAttr', JSON.stringify(iotmsg));
	});


	$("#cloudSetValue").click(function(){
    if(socket==null)
    {
      alert("First start Session to call cloudSetValue!!");
      return false;
    }
    var cloudSetValueBody = {keyName:"key1", keyValue:"value1"};

    alert("cloudSetValueBody ["+JSON.stringify(cloudSetValueBody)+"]")
    iotmsg = make_waviot_msg("cloudSetValue",  $("#uuid").val(), clientkey, "", sessionkey, clientsecret, cloudSetValueBody);
    socket.emit('cloudSetValue', JSON.stringify(iotmsg));
    
	});  

	$("#cloudGetValue").click(function(){
    if(socket==null)
    {
      alert("First start Session to call cloudGetValue!!");
      return false;
    }
    var cloudGetValueBody = {keyName:"key1"};

    alert("cloudSetValueBody ["+JSON.stringify(cloudGetValueBody)+"]")
    iotmsg = make_waviot_msg("cloudGetValue",  $("#uuid").val(), clientkey, "", sessionkey, clientsecret, cloudGetValueBody);
    socket.emit('cloudGetValue', JSON.stringify(iotmsg));
    
	});  


	$("#callservice").click(function(){
    if(socket==null)
    {
      alert("Open channel first to call a service!!");
      return false;
    }
    
	});

  
  update_service_code();  

});

</script>

</head>
<!--
BODY TAG OPTIONS:
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <% include ./partials/head.ejs %>
  
  <!-- Left side column. contains the logo and sidebar -->
  <% include ./partials/sidebar-main.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sesstion Test
        <small>Simple Sock IO test </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Session Info.</h3>
  </div>
  <div class="panel-body">

<form id="mainForm" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Service Code</label>
    <div class="col-xs-6 col-sm-7">
      <select id="service_code"  class="form-control selcls"  >
      </select>
    </div>
    <div class="col-xs-4 col-sm-3">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Service Tag</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="service_tag" placeholder="">
    </div>
    <div class="col-xs-4 col-sm-3">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">UUID</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="uuid" placeholder="" value="">
    </div>
    <div class="col-sm-3">
  <!--
      <input id="genuuid" class="btn btn-default btn-sm" type="button" value="Gen UUID" >
  -->
    </div>
  </div>
  <div class="form-group">
    <label  class="col-xs-2 col-sm-2 control-label">Client Key</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="clientkey" placeholder="Client Key" readonly>
    </div>
    <div class="col-xs-4 col-sm-3">
      <input id="getclientkey" class="btn btn-default btn-sm" type="button" value="Get Client Key" >
    </div>
  </div>
  <!--
  <div class="form-group">
    <label  class="col-sm-2 control-label">Random ID</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="randomid" placeholder="Random ID" readonly>
    </div>
    <div class="col-sm-3">
      <input id="genrandomid" class="btn btn-default btn-sm" type="button" value="Gen RandomID">
    </div>
  </div>
  -->
  <div class="form-group">
    <label  class="col-xs-2 col-sm-2 control-label">Session Key</label>
    <div class="col-xs-6 col-sm-7">
      <input type="text" class="form-control" id="sessionkey" placeholder="Session Key" readonly>
    </div>
    <div class="col-xs-4 col-sm-3">
      <input id="getsessionkey" class="btn btn-default btn-sm" type="button" value="Get Session Key">
    </div>
  </div>

  <div class="form-group">
    <label  class="col-xs-2 col-sm-2 control-label">Devices</label>
    <div class="col-xs-6 col-sm-7">
      <select id="devices"  class="form-control selcls"  >
        <option data-tokens="DUMMY_803f5d000011">DUMMY_803f5d000011</option>
        <option data-tokens="DUMMY_803f5d000012">DUMMY_803f5d000012</option>
        <option data-tokens="DUMMY_803f5d000013">DUMMY_803f5d000013</option>
        <option data-tokens="WLINKGW_000000120333">WLINKGW_000000120333</option>
        <option data-tokens="WLINKGW_000c43e17629">WLINKGW_000c43e17629</option>
      </select>
    </div>
    <div class="col-xs-4 col-sm-3">
      <input id="deviceLogin" class="btn btn-default btn-sm" type="button" value="Login" data-toggle="modal" data-target="#deviceLoginDlg">
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input id="openchannel" class="btn btn-default" type="button" value="Start Sesion">
      <input id="getattr" class="btn btn-default" type="button" data-toggle="modal" data-target="#getAttrDialog"  value="get attr">
      <input id="setattr" class="btn btn-default" type="button" value="set attr">
      <input id="getsubdevattr" class="btn btn-default" type="button" value="get subdev attr">
      <input id="setsubdevattr" class="btn btn-default" type="button" value="set subdev attr">
      <input id="cloudSetValue" class="btn btn-default" type="button" value="cloudSetValue">
      <input id="cloudGetValue" class="btn btn-default" type="button" value="cloudGetValue">
     <!-- <input id="callservice" class="btn btn-default" type="button" value="call service"> -->
    </div>
  </div>
</form>




  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Devices</h3>
  </div>
  <div class="panel-body">

    <table id="devicesList" class="table table-bordered">
    <tr>
        <th width="27%">device</th>
        <th width="15%" class="hidden-xs">IP</th>
        <th width="12%" >DN</th>
        <th width="12%" >UP</th>
        <th width="12%" >T.DN</th>
        <th width="12%" >T.UP</th>
        <th width="10%" >Remark</th>
    </tr>
    <tbody></tbody>      
    </table>

  </div>
</div>


<div class="panel panel-info">
  <div class="panel-body">
    <textarea id="sessionlog" class="form-control" rows="10"></textarea>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="getAttrDialog" tabindex="-1" role="dialog" aria-labelledby="getAttrLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="getAttrLabel">Get Attribute</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label  class="col-xs-2 col-sm-2 control-label">Attr</label>
            <div class="col-xs-10 col-sm-10">
              <select id="attrList"  class="form-control selcls"  >
                <option data-tokens="wanSetting">wanSetting</option>
                <option data-tokens="wanState">wanState</option>
                <option data-tokens="wanDlSpeed">wanDlSpeed</option>
                <option data-tokens="wanUlSpeed">wanUlSpeed</option>
                <option data-tokens="wanDlbytes">wanDlbytes</option>
                <option data-tokens="wanUlbytes">wanUlbytes</option>
                <option data-tokens="wlanSetting24g">wlanSetting24g</option>
                <option data-tokens="wlanSecurity24g">wlanSecurity24g</option>
              </select>
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id = "callgetttr" type="button" class="btn btn-primary">Call</button>
      </div>
    </div>
  </div>
</div>

<!-- ************************************************************************************ -->
<div class="modal fade" id="deviceLoginDlg" tabindex="-1" role="dialog" aria-labelledby="deviceLoginLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deviceLoginLabel">Device Login</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
                
          <div class="form-group">
            <label  class="col-xs-2 col-sm-2 control-label">Device</label>
            <div class="col-xs-10 col-sm-10">
              <input type="text" class="form-control" id="loginDeviceId" readonly>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-2 col-sm-2 control-label">ID</label>
            <div class="col-xs-10 col-sm-10">
              <input type="text" class="form-control" id="loginID" value="admin">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-xs-2 col-sm-2 control-label">Password</label>
            <div class="col-xs-10 col-sm-10">
              <input type="text" class="form-control" id="loginPassword" value="12345678">
            </div>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id = "callLoginService" type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- ************************************************************************************ -->

<div class="modal fade" id="deviceGetAttr" tabindex="-1" role="dialog" aria-labelledby="deviceGetAttrLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deviceGetAttrLabel">Device Get Attr</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id = "callGetAttr" type="button" class="btn btn-primary">Call</button>
      </div>
    </div>
  </div>
</div>
<!-- ************************************************************************************ -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ./partials/footer.ejs %>

  <!-- Control Sidebar -->
  <% include ./partials/sidebar-control.ejs %>
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
